---
layout: default
---
<!-- page.html -->
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  <article>
    {{ content }}
  </article>

  {%- if page.github -%}
  <div class="github-icon text-center">
    <hr />
    <div class="icon" data-toggle="tooltip" title="Code Repository">
      <h5>
        You can find the project files
        <a href="{{ page.github }}">here <i class="fab fa-github gh-icon"></i></a>
      </h5>
    </div>
  </div>
  {%- endif %}

  {%- if page.related_publications != null and page.related_publications.size > 0 -%}
  {% assign publications = page.related_publications | replace: ", ", "," | split: "," | join: "|" %}
  <h2>References</h2>
  <div class="publications">
    {% bibliography -f {{ site.scholar.bibliography }} -q @*[key^={{ publications }}]* %}
  </div>
  {%- endif %}

  {%- if site.giscus.repo and page.giscus_comments -%}
  {% include giscus.html %}
  {%- endif -%}
</div>
